@media all and (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

.navbar {
    background-color: rgb(49,62,79);
    margin-bottom: 0px;
}

.navbar-default {
    border-radius: 0;
    border: none;
}

.navbar-default .navbar-nav >li > a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px 15px;
}

.navbar-toggle {
    margin-top: 30px;
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 40px 15px 60px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: rgb(102,186,158);
    background-color: #3d6791;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: rgb(102,186,158);
    background-color: #3d6791;
}

.jumbotron {
    background-color: rgb(102,186,158);
    color: white;
    margin-top: 100px;
    margin-bottom: 0px;
}

.jumbotron img {
    margin-top: 50px;
    margin-bottom: 50px;
}

.star {
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.star:before,
.star:after {
  background-color: white;
  content: "";
  height: 3px;
  position: absolute;
  width: 120px;
  top: 50%;
  border-radius: 2px;
}

.star:before {
  right: 45px;
}

.star:after {
  left: 45px;
}

.star2 {
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.star2:before,
.star2:after {
  background-color: black;
  content: "";
  height: 3px;
  position: absolute;
  width: 120px;
  top: 50%;
  border-radius: 2px;
}

.star2:before {
  right: 45px;
}

.star2:after {
  left: 45px;
}

.jumbotron p {
    padding-bottom: 40px;
}

#portfolio h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
}

.portfolio-overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(102,186,158, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 6px;
}

.portfolio-overlay i {
    color: white;
    font-size: 90px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.logo-wrapper:hover .portfolio-overlay {
    display: block;
}

#portfolio img {
    width:100%;
    border-radius: 6px;
}

.logo-wrapper {
    margin-top: 15px;
    position: relative;
}

#logo-section {
    padding-bottom: 100px;
}

#about {
    background-color: rgb(102,186,158);
    color: white;
}

#about h3 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 100px;
}

#about p {
    font-size: 20px;
}

#about button {
    background-color: rgb(102,186,158);
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px 50px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#about button:hover {
    background-color: white;
    color: black;
}

#contactme h4 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 100px;
}

#contactme button {
    background-color: rgb(102,186,158);
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px 35px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
}

footer {
    background-color: rgb(49,62,79);
    color: white;
}

.footer-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 80px;
}

footer .clearfix {
    margin-bottom: 80px;
}

footer p .btn {
    background-color: rgb(49,62,79);
    color: white;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    font-size: 17px;
    line-height: 35px;
}

footer p .btn:hover {
    background-color: white;
    color: black;
}

#copyright {
    background-color: #1a252f;
    padding-top: 30px;
    padding-bottom: 30px;
}

#copyright p {
    margin-bottom: 0px;
}
